.Footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
}

.FooterLeft {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.AlbumImage {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.SongName {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 800;
}
.Singer {
  font-size: 12px;
}

.FooterCenter {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.GreenIcon {
  color: #1ed15e;
}

.GreenIcon:hover,
.Icon:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.FooterRight {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.Slider {
  color: green !important;
}
